* {
	box-sizing: border-box;
}

body {
	background-image: url(/images/photo-1477601263568-180e2c6d046e.avif);
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: sans-serif;
	margin: 0;
}

h1 {
	font-size: 3.5rem;
	margin-top: -10rem;
}

.countdown-container {
	display: flex;

}

.big-number {
	font-size: 6rem;
	line-height: 1;
	margin: 0 2rem;
}

.countdown-container span {
	font-size: 1.3rem;
}